<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout :: layout (title='Films', main=~{::main})">
<main>
	<h1 style="margin-top: 60px;">Les films de l'ENI</h1>
	<table>
		<thead>
			<tr>
				<th>Genre</th>
				<th>Année</th>
				<th>Titre</th>
				<th>Réalisateur</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="film : ${films}">
				<td th:text="${film.genre}"></td>
				<td th:text="${film.annee}"></td>
				<td th:text="${film.titre}"></td>
				<td th:text="${film.realisateur}"></td>
				<td>
					<a th:href="@{/films/detail(id=${film.id})}">Détail</a>
					<th:block th:if="${#authorization.expression('isAuthenticated()')}">
						<a th:href="@{/avis/creer(idFilm=${film.id})}">Ajouter un avis</a>
					</th:block>
				</td>
			</tr>
		</tbody>
	</table>
</main>
</html>
